__pycache__/
*.py[cod]
*.db
.streamlit/*
!.streamlit/config.toml
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
venv/
.venv/
*.egg-info/
dist/
build/

# Next.js
.next/
out/
node_modules/

# Vercel
.vercel

# Debug
npm-debug.log*
